[MESSAGES CONTROL]
disable=
    fixme,
    invalid-name,
    len-as-condition,
    duplicate-code,
    import-outside-toplevel,

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

[DESIGN]
# Maximum number of arguments for function / method
max-args=15
# Maximum number of locals for function / method body
max-locals=15

[TYPECHECK]
ignored-classes=vtk
